fastapi>=0.112.0
uvicorn>=0.30.5
pydantic>=2.10.6
pydantic-settings>=2.4.0
python-dotenv>=1.0.1
google-api-python-client>=2.165.0
google-genai>=1.9.0
youtube-transcript-api>=1.1.0
nltk>=3.9.1
requests>=2.32.3
slowapi>=0.1.9
yt-dlp>=2025.6.9
openai>=1.0.0
